form.formtastic
  fieldset
    li
      clear: both
      &.hidden
        display: none
      &.file
        input[type=file], p.inline-hints
          display: block
          float: left
          margin: 0

        p.inline-hints img
          vertical-align: middle

    a.remove, a.add
      +light-button
      font-weight: bold
      text-decoration: none
      margin-left: 21%

  fieldset > ol > li
    &.date fieldset ol li label, &.time fieldset ol li label, &.datetime fieldset ol li label
      display: block
      width: 100%

  .chzn-container-single, .chzn-container-multi
    width: 40% !important